MYSQL_HOST=127.0.0.1
MYSQL_USER=tailor_app
MYSQL_PASSWORD= Password123
MYSQL_DATABASE=tailor_shop
SECRET_KEY=werd
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Password123
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=shop@example.com
SMTP_PASSWORD=Password123
SMTP_FROM_EMAIL=shop@example.com
